// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Anonymous Pro', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$card-size: 350px;
$p-m-default: 20px;

$brand-blue: #2C3E50;
$brand-green: #16A085;

$black: #111;
$white: #FFF;

// Easing Properties
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);

// PX to EM
$browser-context: 16;
